body {
background-color: #6BB77B;
font-size: 14px;
margin: auto;
font-family: 'Courier New', Courier, monospace;
}

header {
color: white;
background-color: #172D13;
font-size: 20px;
text-decoration: dotted;
padding: 0.5em;
}

nav {
background-color: #D76F30;
padding: 1em;
}

nav ul {
list-style-type: none;
padding: 0;
margin: 0;
}

.top-menu li {
display: inline-block;
margin-right: 20px;
}

.top-menu a {
text-decoration: none;
color: black;
font-weight: bold;
}

.top-menu a:visited {
    color: red;
}

.top-menu a:hover {
color: red;
}

figure {
max-width: fit-content;
border: solid #D76F30;
background-color: #D76F30;
color: black;
}

footer {
background-color: black;
color: white;
padding: 20px;
text-align: center;
}

.h1special {
color: white;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin: 0;
}

.h2special {
background-color: black; 
color: azure;
}