body {
background-color: #fefae0;    
}

#main-header {
background-color: #ccd5ae;
text-align: center;
padding: 20px;
}

#main-header h1 {
margin: 0;
font-size: 32px;
}

#main-header p {
font-size: 16px;
margin-top: 10px;    
}

#main-nav {
background-color: #e9edc9;
padding: 1em;
}

#main-nav ul {
list-style-type: none;
padding: 0;
margin: 0;
text-align: center;
}

#main-nav li {
display: inline-block;
margin-right: 20px;
}

#main-nav a:visited {
color: #e60000;
}

#main-nav a:hover {
color: #ff6666;
}

.d-flex {
    text-align: center;
    margin: 1em;
}

.content-article {
background-color: #faedcd;
border: 1px solid #ddd;
padding: 20px;
margin-bottom: 20px;
}

.content-article h2 {
color: #333;
font-size: 24px;
margin-bottom: 10px;
}

.content-article p {
color: #666;
font-size: 16px;
line-height: 1.5;
}

#sidebar ul {
list-style-type: none;
padding: 0;
margin: 1em;
}

#sidebar a:visited {
color: #e60000;
}

#sidebar a:hover {
color: #ff6666;
}

figure {
max-width: fit-content;
border: solid #e9edc9;
background-color: #e9edc9;
color: black;
    }

#main-footer {
background-color: #ccd5ae;
text-align: center;
padding: 20px;
}