body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #FCF7FF;  
}
    
#main-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ccd5ae;
    color: white;
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    height: 125px;
    padding: 0;
    margin: 0;
}

#main-header h1 {
    margin: 1em;
}
    
#main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
    background-color: antiquewhite;
    padding: 10px;
}

#main-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

#main-nav li {
    margin-right: 20px;
}
    
.top-menu a:visited {
color: #e60000;
}
    
.top-menu a:hover {
color: #ff6666;
}
    
figure {
max-width: fit-content;
border: solid #e9edc9;
background-color: #e9edc9;
color: black;
}
    
footer {
background-color: #ccd5ae;
color: black;
padding: 20px;
text-align: center;
}
    
.h1special {
color: black;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin: 0;
}
    
.h2special {
background-color: black; 
color: azure;
}